<section class="bg-white py-4">
  <div class="container mx-auto">
    <h2 class="text-2xl font-bold mb-4">Experience</h2>
    <ul>
      <li *ngFor="let experience of experiences">
        <div class="flex justify-between mb-4">
          <div>
            <h3 class="text-lg font-bold">{{ experience.jobTitle }}</h3>
            <p class="text-lg font-light">{{ experience.company }}</p>
          </div>
          <p class="text-lg font-light">{{ experience.dates }}</p>
        </div>
        <p class="text-lg font-light mb-4">{{ experience.description }}</p>
      </li>
    </ul>
  </div>
</section>
