<div class="contact-container">
  <h2>Contact Information</h2>
  <ul>
    <li>
      <i class="fas fa-envelope"></i>
      <span>Email:</span>
      <a href="mailto:amiteshsinghkorba&#64;gmail.com">amiteshsinghkorba&#64;gmail.com</a>
    </li>
    <li>
      <i class="fas fa-phone"></i>
      <span>Phone:</span>
      <a href="tel:(+91)-8529606022">(+91)-8529606022</a>
    </li>
    <li>
      <i class="fab fa-linkedin"></i>
      <span>LinkedIn:</span>
      <a href="https://www.linkedin.com/in/theamiteshsingh/" target="_blank">Amitesh Singh</a>
    </li>
  </ul>
</div>
